.container {
  background: #000;
  height: 2em;
  padding: .25em .5em;
  color: #fff;
  border-radius: .25em;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.mark {
  font-size: 2em;
  line-height: 1em;
}

.secret {
  line-height: 2em;
  overflow: hidden;
  position: absolute;
  right: 0;
  padding: 0 1em;
  color: red;
}
